# HW

Мои Фамилия Имя: Овсянникова Александра

In [1]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [2]:
df_titanic = pd.read_csv('titanic.csv')

In [3]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_titanic.shape

(891, 12)

In [5]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [6]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [7]:
columns = ['Sex', 'Age', 'Pclass', 'Survived']

In [8]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [9]:
simple_train = simple_train.fillna(simple_train.mean())
simple_test = simple_test.fillna(simple_test.mean())

# можно inplace делать такое, а можно переприсваивать.

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [10]:
simple_train.Sex = simple_train.Sex.apply(lambda x: 0 if x.strip() == 'male' else 1)
simple_test.Sex = simple_test.Sex.apply(lambda x: 0 if x.strip() == 'male' else 1)

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [11]:
X_train = simple_train.drop('Survived', axis=1).values
X_test = simple_test.drop('Survived', axis=1).values
y_train = simple_train['Survived'].values
y_test = simple_test['Survived'].values

In [12]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [13]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [14]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [15]:
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y = []
        for obs in X:
            d = 0
            for i, el in enumerate(obs):
                d += (self.X[:, i] - el)**2
            d = np.sqrt(d)

            idx = np.argsort(d)[:self.n]
            
            counts = np.bincount(self.y[idx].astype(int))
            prediction = np.argmax(counts)
            y.append(prediction)
        return y

In [16]:
knn = KNN(5)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [17]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.7851662404092071

In [18]:
np.unique(y_pred)

array([0, 1], dtype=int64)

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [19]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7851662404092071

In [20]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.7774936061381074

##### TODO продолжение домашки

In [21]:
import math

# 1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.
columns = ['Sex', 'Age', 'Pclass', 'Survived', 'Cabin', 'Fare', 'Embarked']
df_titanic = df_titanic[columns]
df_titanic.Cabin = df_titanic.Cabin.apply(lambda x: x[0] if type(x) == str else np.nan)
df_titanic.Sex = df_titanic.Sex.apply(lambda x: 0 if x.strip() == 'male' else 1)
df_titanic = pd.get_dummies(data=df_titanic, columns=['Embarked', 'Cabin'])

In [22]:
X, y = df_titanic.drop('Survived', axis=1), df_titanic['Survived'].values

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

In [24]:
# 2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
# Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
# (https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

def prepare_data(X, mean, std):
    X = X.fillna(mean)
    X = ((X - mean)/std).values
    assert isinstance(X, np.ndarray)
    assert not np.any(np.isnan(X)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
    return X

mean = X_train.mean()
std = X_train.std()

In [25]:
X_train = prepare_data(X_train, mean, std)
X_test = prepare_data(X_test, mean, std)
X_val = prepare_data(X_val, mean, std)





Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!

In [26]:
scores = {}
for i in range(1, 20):
    knn = KNN(i)

    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_val)
    acc = np.mean(y_pred == y_val)
    print('доля правильных ответов для {}:'.format(i), acc)
    scores[i] = acc

доля правильных ответов для 1: 0.7972027972027972
доля правильных ответов для 2: 0.8321678321678322
доля правильных ответов для 3: 0.8251748251748252
доля правильных ответов для 4: 0.8531468531468531
доля правильных ответов для 5: 0.8531468531468531
доля правильных ответов для 6: 0.8601398601398601
доля правильных ответов для 7: 0.8461538461538461
доля правильных ответов для 8: 0.8391608391608392
доля правильных ответов для 9: 0.8671328671328671
доля правильных ответов для 10: 0.8251748251748252
доля правильных ответов для 11: 0.8531468531468531
доля правильных ответов для 12: 0.8391608391608392
доля правильных ответов для 13: 0.8391608391608392
доля правильных ответов для 14: 0.8391608391608392
доля правильных ответов для 15: 0.8391608391608392
доля правильных ответов для 16: 0.8391608391608392
доля правильных ответов для 17: 0.8391608391608392
доля правильных ответов для 18: 0.8321678321678322
доля правильных ответов для 19: 0.8321678321678322

In [27]:
best = max(scores, key=scores.get)

In [28]:
knn = KNN(best)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
acc = np.mean(y_pred == y_test)
print('доля правильных ответов для {}:'.format(best), acc)

доля правильных ответов для 9: 0.7374301675977654